.inp-stl {
	border:1px solid #9E9E9E;
	color: #000000;
	width: 300px;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 16px;
	font-family: Verdana;
	background: #FFF;
	display: flex;
}
.wrap {
	margin-left: 400px;
}
.app{
	background-color: #252d4a;
	width: 600px;
	min-height: 200px;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.75);
	color: beige;
}
.quizz {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.question_section {
	flex: 0 0 50%;
}
.question_count {
	margin-bottom: 20px;
}

.question_count span{
	font-size: 28px;
}
.question_text {
	margin-bottom: 15px;
}
.answer_section{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}

.answer_section button{
	width: 100%;
	font-size: 16px;
	color: #FFF;
	background-color: #252d4a;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	padding: 5px;
	cursor: pointer;
	border: 2px solid #234668;
	margin: 5px 0;
	outline: none;
}
.answer_section button:hover {
	background: #234668;
	transition: all 0.3 ease;
}
.section_score {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 24px;
	width: 100%;
}